DATABASE_URL="mysql://root@localhost:3306/jejak_gpl"
AUTH_SECRET="replace-with-a-random-32-char-secret"
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
DATA_SOURCE="prisma"
