<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^\.env - [F,L]
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)/ - [F,L]
    RewriteRule ^(artisan|composer\.(json|lock)|package(-lock)?\.json)$ - [F,L]

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>
